.styleModal{
    
    background-color: rgb(0, 0, 0);
    display:none;
}

.styleModal-open{
    display:grid;
    background-color: rgba(0, 0, 0, 0.432);
    width:100vw;
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    justify-content: center;
    align-items: center;
    transition: all 950ms ease;
}
.modal_dialog{
    background-color:rgb(123, 0, 0);
    padding: 10px;
    width: 1200px;
    height: 80%;
    display:grid;
    
}
.btnSalir{
    
    position:fixed;
    color: rgb(247, 246, 253);
    margin-left:1190px ;
    
    
}

