.nav{
    background-color:rgb(5, 114, 76);   
    color:#ffffff;
    width:100%; 
    height:30px;
}
td{
    /*background-color: rgba(121, 121, 121, 0.393);*/
    background-color: #1c2b3647;
    /*background-color:rgba(5, 114, 76, 0.139);*/
}

.barra{
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-Direction:row;    
}
.fecha{    
    font-size: 20px;
    width: 7.4vw;
    display: inline-block;    
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.productor{
    width: 21.5vw;
    display: inline-block;
    text-align: center; 
    font-size: 20px;   
    background-color:rgb(5, 114, 76); 
}
.finca{
    width: 8.5vw;
    display: inline-block;
    text-align: center; 
    font-size: 20px;  
    background-color:rgb(5, 114, 76); 
}
.up{
    width: 8.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.calibre{
    width: 9vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.destino{
    width: 8.5vw;
    display: inline-block;
    text-align: center;   
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.muestra{
    width: 8.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.t5{
    width: 4.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.t4{
    width: 4.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.t3{
    width: 4.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.t2{
    width: 4.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.t1{
    width: 4.5vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.calidad{
    width: 8vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.porcentaje{
    width: 8vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 
}
.foto{
    width: 7vw;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    background-color:rgb(5, 114, 76); 

}